<header class="header inactive">
   <div class="container">
      <div class="header__inner">
         <a href="{{ pathto(master_doc)|e }}" class="header__logo" aria-label="Silo documentation home">
            <img
               src="{{ pathto('_static/img/silo.svg', 1)|e }}"
               alt="Silo"
            />
         </a>
         
         <!--
         <div class="header__actions">
            

            <button id="dark-mode-toggle" type="button" class="icon icon--switch">
               {%- include "icons/moon.html" %}
               {%- include "icons/sun.html" %}
               Dark Mode
            </button>
         </div>
         -->
      </div>
  
      <h2 class="header__title hidden-rm">Documentation</h2>

      {% if docs %}
         <div class="docs-menu-wrapper overflow-x-auto hide-scrollbar mb-20 text-center">
            <nav class="docs-menu bg-white/75 inline-flex items-center rounded-lg font-heading border p-0.5 border-theme-neutral-subtle">
               {% for doc in docs %}
                  {% set current_name = doc.name if doc.current == True %}
                  <a target="{% if doc.external == True %}_blank{% endif %}" class="{% if doc.current == True %}active{% endif %} flex-1 rounded-md shrink-0 h-14 border border-transparent font-bold transition-all duration-300 hover:text-theme-red [&.active]:text-theme-red [&.active]:border-theme-red" href="{{ doc.url }}">
                  {{ doc.name }}
                  </a>
               {% endfor %}
            </nav>
         </div>
      {% endif %}

      <!-- {%- include "platform-navigation.html" %} -->

      <!-- search disabled: no search API available in this fork -->
      <!--
      {%- if pagename != "search" %}
         <div id="search">
            <div class="search__inner">
               <div id="search-box"></div>

               <div class="search__dropdown">
                  <div id="search-filters"></div>
                  <div id="search-clear"></div>
                  <div id="search-results"></div>
                  <div id="search-powered-by"></div>
               </div>
            </div>
         </div>
      {%- endif %}
      -->
   </div>
 </header>
