{# 导入主题的 layout 模板。 #}
{% extends "!layout.html" %}

{# 自定义 CSS 覆盖 #}

{% block extrahead %}
   {%- include "head.html" %}
   {{ super() }}
{% endblock %}

{# 覆盖内容块 #}

{%- macro miniosidebar() %}
   {%- if render_sidebar %}
      <nav
         class="docs"
         role="navigation"
      >
         {%- block sidebarlogo %}
            {%- if logo %}
               <p class="logo">
                  <a href="{{ pathto(master_doc)|e }}">
                     <img
                        class="logo"
                        src="{{ pathto('_static/' + logo, 1)|e }}"
                        alt="徽标"
                     />
                  </a>
               </p>
            {%- endif %}
         {%- endblock %}

         {%- if sidebars != None %}
            {#- 新样式侧边栏：显式包含/排除模板 #}
            {%- for sidebartemplate in sidebars %}
               {%- include sidebartemplate %}
            {%- endfor %}
         {%- else %}
            {#- 旧样式侧边栏：使用 blocks，后续应废弃 #}

            {%- block sidebarrel %}
               {%- include "relations.html" %}
            {%- endblock %}

            {%- block sidebarsourcelink %}
               {%- include "sourcelink.html" %}
            {%- endblock %}

            {%- if customsidebar %}
               {%- include customsidebar %}
            {%- endif %}

            {%- block sidebarsearch %}
               {%- include "searchbox.html" %}
            {%- endblock %}
         {%- endif %}
      </nav>
   {%- endif %}
{%- endmacro %}

{%- block header %}
   {%- include "gtm-noscript.html" %}

   {%- include "header.html" %}
{%- endblock %}

{%- block content %}
   <section class="content">
      <div class="container">
         <div class="sidebar inactive scrollbar">
            <div class="hide-aside visible-rm">
               <button type="button" class="icon">
                     {%- include "icons/close.html" %}
                     关闭文档导航
               </button>
            </div>

            <a class="sidebar__title" href="{{ pathto('index') }}">{{ shorttitle}}</a>
            
            {{ miniosidebar() }}
         </div>

         {%- include "toc.html" %}

         <div class="content__main">
            <div class="content__body">
               {% block body %} {% endblock %}
            </div>

            {%- if pagename != "search-results" %}
               {%- include "footer.html" %}
            {%- endif %}
         </div>
      </div>
   </section>
{%- endblock %}

{%- block footer %}
   {%- include "cookie.html" %}
   {%- include "custom-scripts.html" %}
{%- endblock %}
